client_slug            = "example-client"
deployment_environment = "production"
aws_region             = "us-east-2"

lambda_handler  = "Apopto.Backend::Apopto.Backend.Function::Health"
lambda_zip_path = "../../Backend/artifacts/production-backend.zip"
site_renderer_lambda_zip_path = "lambda_packages/site-renderer.zip"

frontend_site_origin = "https://replace-with-production-domain"

cors_allowed_origins = [
  "https://replace-with-production-domain",
]

tags = {
  ManagedBy = "Terraform"
}
