client_slug            = "example-client"
deployment_environment = "staging"
aws_region             = "us-east-2"

lambda_handler                = "handlers/health.handler"
lambda_runtime                = "nodejs22.x"
lambda_zip_path               = "../../Backend/artifacts/staging-portal-api.zip"
site_renderer_lambda_zip_path = "lambda_packages/site-renderer.zip"

frontend_site_origin = "https://replace-with-staging-cloudfront-or-domain"

auth0_domain   = "replace-with-staging-auth0-domain"
auth0_audience = "https://replace-with-staging-api-audience"

cors_allowed_origins = [
  "http://localhost:5173",
  "https://replace-with-staging-cloudfront-or-domain",
]

tags = {
  ManagedBy = "Terraform"
}
